.book {
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px auto;

  label {
    width: 600px;

    input {
      width: 100%;
      padding: 0px 2px 10px;
      outline: none;
      border: none;
      border-bottom: 1px solid black;

      &::placeholder {
        font-size: 14px;
        word-spacing: 1px;
        letter-spacing: 1px;
      }
    }
  }

  span {
    display: flex;
    align-items: center;
    gap: 50px;
    h4 {
      font-size: 25px;
    }
    button {
      padding: 10px 15px;
      border: none;
      background-color: white;
      font-size: 20px;
    }
  }

  aside {
    width: 95%;
  }
}
